/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2018, 10:30:05 AM
    Author     : Administrator
*/
.skin-blue .main-header .navbar {
    background-color: #639631;
}
.skin-blue .main-header .logo {
    background-color: #467914;
}
.skin-blue .main-header .logo:hover{
    background-color: #467914;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #467914;
    opacity: 0.6
}
.skin-blue .main-header li.user-header{
    background: #639631
}
.nav-tabs-custom > .nav-tabs > li.active, .box.box-primary{
    border-top-color: #467914
}
.main-footer, .main-footer a {
    background: #639631;
    color: #fff;
}
.login-body{
    background: #639631;
    font-size: 1.5em
}
.ft-logo {
    text-align: center;
    padding: 10px 5px 0;
}

.login-body .checkbox label{
    padding-left: 0;
    font-size: 0.9em
}
.login-body .form-control{
    padding: 8px 10px;
    height: auto;
    font-size: 15px
}
.login-body .btn{
    font-size: 15px
}
.login-body label, .label-normal{
    font-weight: normal
}
.login-body .box-title {
    text-shadow: 1px 2px 2px #d3d3d3;
    font-size: 1.5em;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center
}
.login-footer a{
    font-size: 0.9em;
    color: #3c763d;
    margin-right: 10px
}
.login-footer a:last-child{
    margin-left: 10px
}
.login-footer a:hover{
    color: #222;
    text-decoration: underline
}
.login-footer {
    margin-top: 15px;
}

/* Begin login page */
.section-remmember {
    margin: 20px 0 68px 0;
}
.forgot-password {
    float: right;
}
.forgot-password a {
    color: #639631;
}
.forgot-password a:hover {
    color: #356109;
}
.remember-password {
    float: left;
}
.remember-password label{
    font-weight: 500;
    color: #908b8b;
}
/* End login page */

.mailbox-controls .btn{
    margin-bottom: 5px
}
.form-wrap{
    width: 50%;
}
.form-wrap.farm-wrap{
    width: 60% !important
}
.box-label label:not(.control-label){
    font-weight: normal;
    margin-right: 10px
}
form .error {
    color: #dd4b39;
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
}
.box-filter{
    margin-bottom: 30px
}
.btn-backward >i{
    padding-right: 3px
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td{
    vertical-align: middle;
}
tr.disabled {
    cursor: default;
    background: #d3d3d3;
    opacity: 0.5;
    pointer-events: none;
}
.modulelst label{
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: normal
}
.modulelst{
    padding: 15px;
    border: 1px solid #f5f5f5;
    background: #f9f9f9
}
.sub-item{
    margin-left: 20px;
    font-style: italic;
    font-size: 13px
}
.sub-action{
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px
}
.sub-lst{
    margin-bottom: 0;
    padding: 5px;
    list-style: none;
    display: block
}
.sub-lst li a{
    margin-bottom: 3px;
    color: #444;
    font-size: 13px;
    display: block
}
.sub-lst li a:hover{
    text-decoration: underline
}
.farm-wrap .btn-social > :first-child{
    top: 5px
}
.unvisibility{
    background: #f5f5f5;
    cursor: default;
    pointer-events: none;
    opacity: 0.5
}

.box-comments > ul.dash-list{
    margin-left: 0px;
    padding-left: 0px;
}

.box-comments>ul.dash-list > li:before{
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.box-comments .box-comment img{
    width: auto !important;
    height: auto !important;
}

.helpimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img{
    display:block !important;
}

.img-sm, .img-md, .img-lg, .box-comments .box-comment img, .user-block.user-block-sm img{
    float:none !important;
}

.box-comments .box-comment img{
    float:none !important;
}

p{
    margin:none !important;
}

.row{
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}


/* Begin Register Page */

.txt-register {
    text-align: center;
    font-size: 1.8em;
    color: #fff;
}
.ft-logo {
    text-align: center;
    margin-bottom: 35px;
}
.login-body .box {
    padding: 30px 50px;
    border-top: none;
    margin-bottom: 0; 
    margin-top: 15px;
    border-radius: 10px;
}
.box {
    position: relative;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-top-color: #fff !important;
    margin-top: 15px;
}
.group-yourname {
    width: 100%;
}
.btn-register {
    margin-top: 25px;
    background: #639631;
    border: 1px solid #68a12e;
}
.btn-register:hover {
    background: #68a12e;
}
.txt-lastname {
    width: 50% !important;
}
.txt-firstname {
    width: 50% !important;
    border-left: none;
}
.other-register {
    margin-top: 25px;
}
.txt-other {
    text-align: center;
    color: #a39d9d;
}
.account-exists {
    margin-top: 25px;
    text-align: center;
    color: #a39d9d;
}
.other-register .account-exists a {
    color: #639631;
    text-decoration: none;
}
.other-register .account-exists a:hover {
    color: #356109;
}
.btn-other {
    margin-top: 25px;
    text-align: center;
}
.btn-fb {
    float: left;
}
/* Button Facebook */
.btn-facebook {
    background: #3B5998;
    border-radius: 7px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #495f8c; 
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
}

/* Button Google Plus */
.btn-googleplus {
    background: #E93F2E;
    border-radius: 7px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
    margin-left: 15px;
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #b72213;
    color: #fff;
}

/* End Register Page */

/* Begin Verify Register Page */
.verify-register .box-info {
    height: 500px;
}
.verify-email-icon {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 55px;
} 
.txt-verify {
    padding: 0 10px;
    text-align: center;
    font-size: 17px;
    color: #908b8b;
}
.verify-register .account-exists {
    margin: 150px 25px 15px 25px;
}
.verify-register .account-exists a {
    color: #639631;
    text-decoration: none;
}
.verify-register.account-exists a:hover {
    color: #356109;
}
/* End Verify Register Page */

/* Begin forgot password page */
.forgot-password-description {
    text-align: left;
    color: #908b8b;
    font-size: 20px;
    margin-bottom: 35px;
}
/* End forgot password page */

/* Begin forgot password verify page */
.verify-password-description {
    text-align: left;
    color: #908b8b;
    font-size: 20px;
    margin: 20px 0 79px;
}
.icon-confirm {
    padding: 70px 0 50px 0;
    text-align: center;
}
/* End forgot password verify page */

/* Begin Dashboard Page */
.select-device {
    background: #fff;
    box-shadow: 1px 3px #ebebeb;
    margin-bottom: 27px;
    height: 50px;
    padding: 9px 35px;
}
.btn-device {
    background: #fff;
    box-shadow: 1px 3px #ebebeb;
    margin-top: 15px;
    height: 50px;
    padding: 9px 35px;
    text-align: right;
}
.item-select-device {
    width:90%;
}
.chart-temperature {
    background: #fff;
    box-shadow: 1px 3px #ebebeb;
    height:186px;
    margin-bottom: 27px;
    border-radius: 3px;
    padding: 10px 15px;
}
.chart-humidity {
    background: #fff;
    height:186px;
    border-radius: 3px;
    box-shadow: 1px 3px #ebebeb;
    padding: 10px 15px;
}
#chart_humidity,
#chart_temperature {
    float: left;
}
.chart-temperature .txt-temperature,
.chart-humidity .txt-humidity {
    float: left;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 38px 0 0 10px;
}
.txt-temperature {
    color: #60ae13;
}
.txt-humidity {
    color: #00b5ff;
}
#current-humidity,
#current-temperature
{
    font-size: 1.9em;
}
.loading-chart {
    width: 152px;
    height: 152px;
}
/* End Dashboard Page */

#temperature_sin_chart,
#humidity_sin_chart {
    height:250px;
    background: #fff;
    width: 100%;
}

.enviroment-chart-temperature {
    background: #fff;
    box-shadow: 1px 3px #ebebeb;
    height:320px;
    margin-bottom: 27px;
    border-radius: 3px;
}
.enviroment-chart-humidity {
    background: #fff;
    height:320px;
    border-radius: 3px;
    box-shadow: 1px 3px #ebebeb;
}
.txt-chart-view {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    padding: 30px 0;
}
#chart_temperature_view,
#chart_humidity_view {
    padding-left: 25px;
}
.txt-chart-sin-temperature {
    font-size: 2em;
    text-transform: uppercase;
    color: #60ae13;
    padding: 25px 0 0 25px;
}
.txt-chart-sin-humidity {
    font-size: 2em;
    text-transform: uppercase;
    color: #00b5ff;
    padding: 25px 0 0 25px;
}

.txt-header {
    text-transform: uppercase;
    font-size: 1.3em;
}
.txt-header .history {
    font-weight: bold;
}
.link-header {
    text-align: right;
    padding-right: 20px;
    font-size: 1.2em;
}
.link-header a {
    color: #60ae13;
}